sqlalchemy

langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-chroma

chromadb

pypdf
docx2txt

pyaudio

openai
google-genai
python-dotenv
google-generativeai
google-auth
googleapis-common-protos

python-docx

flet