
# ORM para o banco de dados relacional
sqlalchemy

# --- LangChain e Ecossistema ---
langchain
langchain-community
langchain-openai
langchain-text-splitters

chromadb

# --- Carregadores de Documentos ---
pypdf
docx2txt

# Gravação de Áudio
pyaudio

# --- IA e Utilitários ---
openai
python-dotenv

# Para criar/manipular arquivos .docx no futuro
python-docx

# Para a Interface Gráfica
customtkinter